Procedure to follow in Python to work with MySQL: 
1. Connect to the database.
2. Create an object for your database. 
3. Execute the SQL query.
4. Fetch records from the result. 
5. Inform the database if you make any changed in the table. 


We need `mysql.connector` to connect Python script to the MySQL database.

In [5]:
# !pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.22-cp37-cp37m-macosx_10_14_x86_64.whl (4.8 MB)
     |████████████████████████████████| 4.8 MB 3.4 MB/s eta 0:00:01
Requirement already satisfied: protobuf>=3.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.13.0)
Requirement already satisfied: six>=1.9 in /Applications/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /Applications/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (50.3.0.post20201006)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.22

In [8]:
import mysql.connector as mysql

1. Connecting and Creating

In [11]:
db = mysql.connect(host='localhost',user='root',passwd='SGbby123!987')

2. Creating Databases

In [20]:
# create an instance of 'cursor' class which is used to execute SQL statements in Python
cursor = db.cursor()

# execute() compiles a SQL statement
cursor.execute('CREATE DATABASE datacamp')

# show all databases
cursor.execute('SHOW DATABASES')
databases = cursor.fetchall() # fetches all the rows from the last executed statement
print(databases)

[('applications',), ('datacamp',), ('information_schema',), ('mysql',), ('performance_schema',), ('scraping',), ('sys',)]

3. Creating tables

In [22]:
cursor.execute('USE datacamp')
# create a table called 'users' in the 'datacamp' database
cursor.execute("CREATE TABLE users (name VARCHAR(255), user_name VARCHAR(255))")

In [26]:
# getting all the tables which are present in the 'datacamp' database
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print(tables)

[('users',)]

In [35]:
# drop the users table
cursor.execute("DROP TABLE users")

# create a new users table with a primary key
cursor.execute("CREATE TABLE users(\
               id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,\
               name VARCHAR(255),\
               user_name VARCHAR(255))")

In [39]:
# Describe the users table
# cursor.execute("DESC users")
print(cursor.fetchall())

[('id', b'int', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(255)', 'YES', '', None, ''), ('user_name', b'varchar(255)', 'YES', '', None, '')]

4. Inserting Data

Inserting a single row

In [41]:
cursor.execute("INSERT INTO users (name, user_name) VALUES (%s,%s)",("Hafeez","hafeez"))

In [42]:
# to finalize the data we have to run the commit() method of the db object
db.commit()

In [46]:
print("records inserted:",cursor.rowcount)

records inserted: 4

Inserting multiple rows

In [44]:
# define the Query
query = "INSERT INTO users (name,user_name) VALUES (%s,%s)"

# storing the values
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]

# execute the query
cursor.executemany(query,values)

db.commit()

In [47]:
print("records inserted:",cursor.rowcount)

records inserted: 4

5. Select data
- to get all of the records from a table, we use `*` in place of the column names.

In [48]:
# selecting ALL columns 
cursor.execute("SELECT * FROM users")
records = cursor.fetchall()

# showing the data
for record in records:
    print(record)

(1, 'Hafeez', 'hafeez')
(2, 'Peter', 'peter')
(3, 'Amy', 'amy')
(4, 'Michael', 'michael')
(5, 'Hennah', 'hennah')

In [49]:
# selecting some columns 
cursor.execute("SELECT user_name FROM users")
records = cursor.fetchall()

# show data 
for record in records: 
    print(record)

('hafeez',)
('peter',)
('amy',)
('michael',)
('hennah',)

6. WHERE
WHERE is used to select data on some condition.

In [50]:
query = "SELECT * FROM users WHERE id = 5"
cursor.execute(query)

records = cursor.fetchall()

for record in records: 
    print(record)

(5, 'Hennah', 'hennah')

7. Order By
Use ORDER BY to sort the result in ascending or descending order.

In [56]:
query = "SELECT * FROM users ORDER BY name"
cursor.execute(query)

records = cursor.fetchall()

for record in records:
    print(record)

(3, 'Amy', 'amy')
(1, 'Hafeez', 'hafeez')
(5, 'Hennah', 'hennah')
(4, 'Michael', 'michael')
(2, 'Peter', 'peter')

In [ ]:
# Descending order
query = "SELECT * FROM users ORDER BY name DESC"
cursor.execute(query)

records = cursor.fetchall()

for record in records:
    print(record)

8. Delete
The DELETE keyword is used to delete the records from the table.

In [58]:
query = "DELETE FROM users WHERE id = 5"
cursor.execute(query)
db.commit()

9. Update 
The UPDATE keyword is used to update the data of a record or records.

In [ ]:
query = "UPDATE users SET name = 'Kareem' WHERE id = 1"
cursor.execute(query)

db.commit()