# Importing the libraries

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [1]:
pwd

'/Users/sarahamiraslani/Learning'

# Importing the dataset

In [5]:
dataset = pd.read_csv('./data/College.csv')
dataset.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In any dataset in which you are going to train a ML model you have some entities which are features and you also have the dependent variable vector. The features are the columns that are going to predict the dependent variable. 

We will use `.iloc[row_i,col_i]` to create X, the matrix of features and y, the dependent variable vector.

In [23]:
X = dataset.iloc[:,1:-1]
y = dataset.iloc[:,-1]

# Taking care of missing data

In [24]:
# check whether there is any 
X.isnull().sum()

Private        0
Apps           0
Accept         0
Enroll         0
Top10perc      0
Top25perc      0
F.Undergrad    0
P.Undergrad    0
Outstate       0
Room.Board     0
Books          0
Personal       0
PhD            0
Terminal       0
S.F.Ratio      0
perc.alumni    0
Expend         0
dtype: int64

In [ ]:
# if we do have missing data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

imputer.fit(X[:, :]) # play with the indices depending on your unique matrix of features
X[:, :] = imputer.transform(X[:, :])

# Encoding categorical data