### The Lambda Function
In Python, writing a normal function starts with defining the function with the `def` keyword. Meanwhile, lambda functions, also known as anonymous functions, start with the keyword `lambda`. Lambda functions are a short version of the normal function that take one input and use one expression and need no return statement at the end. 

**The synatx of Lambda functions**
```python
lambda args: expression```

**When is the best time to use the Lambda function?**
Very useful when there is an operation or transformation that needs to happen to a pandas series or data frame. 

### `Map()`
The `map()` method only works on a pandas series. When you apply the `map()` method on a series, the `map()` function takes each element in the series and applies a defined function to it, and returns the transformed series.

In [16]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
data = load_iris()
print(data.keys())
features = pd.DataFrame(data = data['data'], columns= data ['feature_names'])
features.head()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

For example, let's say we would like to change the measurement of the sepal length from cm to mm, we can use the map function to do this.

In [20]:
def cm_to_mm(cm):
    mm = cm * 10
    return mm

features['sepal length (cm)'].map(cm_to_mm).head()

0    51.0
1    49.0
2    47.0
3    46.0
4    50.0
Name: sepal length (cm), dtype: float64

What if we want to do it to two columns? `map()` doesn't support this. This is where the `apply()` function comes in handy.

### `Apply()`
The `apply()` method works on pandas series and data frames. When you use the `apply()` method on a series or a data frame, the function takes each element in the series and applies the function onto the element. This then returns the transformed series or data frame.

In [21]:
features[['sepal length (cm)',"sepal width (cm)"]].apply(cm_to_mm).head()

   sepal length (cm)  sepal width (cm)
0               51.0              35.0
1               49.0              30.0
2               47.0              32.0
3               46.0              31.0
4               50.0              36.0

What if we want to change the entire data frame? There are two ways we can do this. 
1. with `apply()`
2. with `applymap()`

In [ ]:
# with apply()
features[['sepal length (cm)','sepal width (cm)',
          'petal length (cm)','petal width (cm)']].apply(cm_to_mm).head()

Using `apply()` method can be time consuming if you are typing each column name yourself (especially if you are working with a large data frame). For this, we will use the `applymap()` method.

In [24]:
# use applymap()
features.applymap(cm_to_mm).head()

# save this dataframe into a new dataframe and rename it

#so this is what we do, we use applymap()
iris = features.applymap(cm_to_mm).head()
iris.columns = ['sepal length (mm)', 'sepal width (mm)', 'petal length (mm)', 'petal width (mm)']
iris.head()

   sepal length (mm)  sepal width (mm)  petal length (mm)  petal width (mm)
0               51.0              35.0               14.0               2.0
1               49.0              30.0               14.0               2.0
2               47.0              32.0               13.0               2.0
3               46.0              31.0               15.0               2.0
4               50.0              36.0               14.0               2.0

**Combining Lamba functions with `apply()`**

Remember that we wrote this function: 
```python
def cm_to_mm(cm):
    mm = cm * 10
    return mm```

As you can see, this function is not that complicated. This function can be easily transformed into a `lambda` function.
```python
lambda x: x*10```

In [25]:
features[['sepal length (cm)']].apply(lambda x: x*10).head()

   sepal length (cm)
0               51.0
1               49.0
2               47.0
3               46.0
4               50.0

In [26]:
features.applymap(lambda x: x*10).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0               51.0              35.0               14.0               2.0
1               49.0              30.0               14.0               2.0
2               47.0              32.0               13.0               2.0
3               46.0              31.0               15.0               2.0
4               50.0              36.0               14.0               2.0